
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


body{

    font-family: Rubik;    
    background-color: #8ccae3;
}

/*   ГЛАВНАЯ    */ 

header {

    background-size: cover;

}

header img {

    width: 100%;
    z-index: -99;

}

.header-nav {

        
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999999999;
    transition: background-color 0.3s;
    padding: 0 60px;
}


/*  Навигация по сайту  */

.nav {

    display: flex;
    gap: 16px;

}

.nav a{

    text-decoration: none;
    color: #1E2447;
    top: 16px;
    padding: 12px;
    transition: all 0.3s ease;
 
}

.header-logo a.kaf {

    font-weight: 500;
    font-size: 20px;
    border-right: 1px solid #ffffff;
    border-width: medium;
    border-color: #1E2447;
    padding-right: 20px;
    height: 25px;
      
}


    
.header-logo a.mat {
    
    width: 250px;
    font-size: 12px;
  
}

.nav a:hover{
    
    color: #4a7bf7;

}

.header-logo{

    display: flex;
    align-items: center;
    gap: 20px;
   
}

.header-logo img {

    width: 55px;
    height: 50px;

}

.header-logo a  {

    text-decoration: none;
    color: #1E2447;

}

/*   Шапка при скролле  */

.active{

    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 40px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 40px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 40px 5px rgba(34, 60, 80, 0.2);

}

.active a{

    color: #4a7bf7;

}

.active a:hover{

    color: #1E2447;

}

.active a.kaf{

    border-color: #4a7bf7;
    
}






header button#menuButton{
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
    justify-content: space-between; 
    flex-direction: column;
    margin-right: 10px;
    border: none;
}


#menuButton i {
    display: block;
    width: 15px; 
    height: 1.5px; 
    background-color: #1c1e53; 
    margin: 2.5px 0; 
    transition: 0.3s; 
    border-radius: 2px; 
}












/*   Студенту   */


.students {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: #fdfdfd;
    border-radius: 24px 24px 24px 24px;
    

}

.students > h2 {

    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;

}






/*  Карточки для перехода */

.students .cards {

    display: flex;
    gap: 60px;
    justify-content: center;
    
}

.students .cards .card {

    width: 250px;
    height: 300px;
    position: relative;
}


.students .cards .card .inner{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #EBF0FF;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
    border-bottom: 4px solid transparent;
    
}



.students .cards .card .inner:hover{

    border-color: #4a7bf7;
    transform: translateY(-5px);

}

.students .cards .card .inner .content{

    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 1

}



.students .cards .card .inner a{

    text-decoration: none;
    color: black;
    text-align: center;

}

.students .cards .card .inner h4{

    display: flex;
    white-space: nowrap;
    padding-top: 100px;
    font-size: 24px;
    margin: 0;
    
}

.students .cards .card .inner a:hover h4{

    color:  #4a7bf7;

}

.students .cards .card .inner img {

    width: 260px;
    height: 300px;
    position: relative;
    object-fit: contain;
    margin-top: 20px;

}



/*  Карусель с преподавателями   */


a,
button {
  color: #4fc08d;
}

main {
  width: min(980px, 85%);
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: min(20vh, 5em);
}
main .header {
  margin-bottom: 55px;
}
@media screen and (max-width: 600px) {
  main .header {
    margin-bottom: 70px !important;
  }
}
main .header h2 {
  font-weight: 800;
  font-size: 3rem;
  margin: 5px -5px 15px;
}

main .header p {
  max-width: min(40ch, 100% - 2rem);
  line-height: 1.6;
  color: #565656;
}


main .item {
  width: 100%;
  height: 400px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
main .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
main .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 28px 25px;
  color: #fff;
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, #000032a1 3%, #17d9ff00 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main .item .overlay span {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 60px;
  padding: 10px 20px;
  display: inline-block;
}
main .item .overlay > div h2 {
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.owl-nav {
  position: absolute;
  top: -100px;
  right: 0;
}
@media screen and (max-width: 600px) {
  .owl-nav {
    top: -60px !important;
  }
}
.owl-nav button {
  background: #EBF0FF !important;
  width: 45px;
  height: 45px;
  font-size: 25px !important;
  box-shadow: 0px 0px 17px #00000005;
  border-radius: 100% !important;
}
.owl-nav button:nth-of-type(1) {
  margin-right: 24px;
}




/*  Научные исследования  */

.Scientific_research{
    background-color: #fdfdfd;
}



.Scientific_research > h2{

    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;

}

/*  Футер  */

footer {

    background-color: rgb(153 200 224);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    z-index: -1;
}


footer p{
    font-size: 13px;
    color: #fff;
    transition: all 0.3s ease;
}

footer a{

    color: #fff;
    text-decoration: none;

}

footer a:hover{
    color: #f5f5dc;
}


/*  Навигационная строка с посещенными страницами  */


.nav-container {

    width: 1280px; 
    margin: 0 auto; 
    background-color: #fdfdfd;

}


.breadcrumb {

    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}

.breadcrumb-item {

    margin-right: 10px;

}

.breadcrumb-item a {

    text-decoration: none;
    color: #6c757d;

}

.breadcrumb-item a:hover {

    color: #4a7bf7;

}

.breadcrumb-item:not(:last-child)::after {

    content: "·";
    margin-left: 10px;
    color: #6c757d;

}

.breadcrumb-item-active{


    background-color: #fdfdfd;

}


/*  Переход по предметам  */



.predmets-contanier {

    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #fdfdfd;
    border-radius: 34px 34px 0 0;
    
}


.predmets-contanier .predmets {
    
    width: 1280px; 
    margin: 0 auto; 
    display: flex;
    gap: 60px;
    
}

.predmets-contanier .predmets .predmet {

    width: 200px;
    height: 70px;
    position: relative;

}


.predmets-contanier .predmets .predmet .inner{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    border-bottom: 4px solid transparent;
    
}



.predmets-contanier .predmets .predmet .inner .content{

    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 1

}



.predmets-contanier .predmets .predmet .inner .content a{

    text-decoration: none;
    color: black;
    text-align: center;

}

.predmets-contanier .predmets .predmet .inner span{

    display: flex;
    white-space: nowrap;
    padding-top: 70px;
    font-size: 18px;
    margin: 0;
  
}

/*  Переход по предметам (активный предмет)  */


.predmets-contanier .predmets .predmet-active {

    width: 200px;
    height: 70px;
    border-radius: 16px;
    position: relative;

}


.predmets-contanier .predmets .predmet-active .inner{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #EBF0FF;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    border-bottom: 4px solid transparent;
    
}


.predmets-contanier .predmets .predmet-active .inner .content-active{

    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 1

}



.predmets-contanier .predmets .predmet-active .inner .content-active a{

    text-decoration: none;
    color: black;
    text-align: center;

}

.predmets-contanier .predmets .predmet-active .inner span{

    display: flex;
    white-space: nowrap;
    padding-top: 70px;
    font-size: 18px;
    margin: 0;
  
}









/* В РАЗРАБОТКЕ*/

.container_Dev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container_Dev img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container_Dev h1 {
    margin-top: 20px;
    font-size: 32px;
    color: #333;
}

.container_Dev a {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.container_Dev a:hover {
    color: #f34892;
}








/*  О КАФЕДРЕ  */



.site-aligner {

    width: 1280px; 
    margin: 20px auto; 
    background-color: #fdfdfd;
    

}


.entry-content {
    max-width: 800px; 
    margin: 0; 
}


.entry-content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 15px 0;
}





/*  ЗАДАНИЯ  */



.semester {

    width: 1280px; 
    margin: 20px auto; 
    background-color: #fdfdfd;
}

.file-list {
    list-style-type: disc; 
    padding-left: 20px; 
    padding-top: 10px; 
    border-radius: 24px 24px 0 0;
    z-index: 1;
}
.file-list li {
    margin-bottom: 10px; 
}
.file-list a {
    text-decoration: none; 
    color: #007BFF; 
    font-size: 16px; 
}
.file-list a:hover {
    text-decoration: underline; 
}

.contentz {
    min-height: calc(100vh - 175px);
}






/*  ЛИТЕРАТУРА  */


.literatura{

    width: 1280px; 
    margin: 20px auto; 
    background-color: #fdfdfd;

}

.file-lit {

    padding-left: 20px; 
    padding-top: 10px; 
}
.file-lit li {
    margin-bottom: 10px; 
}
.file-lit a {
    text-decoration: none; 
    color: #007BFF; 
    font-size: 16px; 
}
.file-lit a:hover {
    text-decoration: underline; 
}



/*  ЛAБ РАБ  */

.lab{

    width: 1280px; 
    margin: 20px auto; 
    background-color: #fdfdfd;

}

.file-lab {

    padding-left: 20px; 
    padding-top: 10px; 
}
.file-lab li {
    margin-bottom: 10px; 
}
.file-lab a {
    text-decoration: none; 
    color: #007BFF; 
    font-size: 16px; 
}
.file-lab a:hover {
    text-decoration: underline; 
}

























/* ================================= */
/* Адаптивные стили для планшетов и мобильных */
/* ================================= */


/* Медиазапрос для экранов от 1200px до 992px */
@media (max-width: 1200px) {
    .header-nav {
        padding: 0 20px;
    }


    .header-logo a.kaf {
        font-size: 18px;
    }

    .header-logo a.mat {

        font-size: 14px; 
    }

    .nav a{

        font-size: 14px;
    }


    .students .cards {
        gap: 40px;
    }

    .students .cards .card {
        width: 220px;
        height: 260px;
    }

    main {
        width: 90%;
    }
}






/* Медиазапрос для экранов от 992px до 768px */
@media (max-width: 992px) {
   
    .header-logo img {
        width: 45px;
        height: 40px;
    }
   
    .header-nav {
        padding: 0 20px;
    }

    .header-logo a.kaf {
        font-size: 16px;
    }

    .header-logo a.mat {

        font-size: 12px; 
    }

    .nav a{

        font-size: 12px;
    }

    .students {
        padding: 40px;
    }

    .students .cards {
        gap: 30px;
        flex-wrap: wrap;
    }

    .students .cards .card {
        width: 200px;
        height: 250px;
    }

    main .header h2 {
        font-size: 2.5rem;
    }

    main .header p {
        font-size: 1rem;
    }
}









/* Медиазапрос для экранов от 768px до 576px */
@media (max-width: 768px) {

    .nav {
        display: none;
    }

    header.open .header-logo {
        display: none;
    }

    header.open .nav{
        display: flex;
    }

    header button#menuButton{
        display: flex;
    }

    .students {
        padding: 30px;
    }

    .students .cards {
        flex-direction: column; /* Размещаем карточки в столбик */
        gap: 20px; /* Уменьшаем расстояние между карточками */
        align-items: center; /* Выравнивание по центру */
    }
    
    .students .cards .card {
        width: 90%; /* Ширина карточки почти на всю ширину экрана */
        max-width: 400px; /* Максимальная ширина для больших экранов */
    }
    
    .students .cards .card .inner img {
        width: 100%; /* Картинка занимает всю ширину карточки */
        height: auto; /* Высота определяется автоматически */
        margin-top: 10px; /* Уменьшаем верхний отступ */
    }
    
    .students .cards .card .inner h4 {
        padding-top: 20px; /* Уменьшаем верхний отступ */
        font-size: 18px; /* Уменьшаем размер шрифта */
    }

    .students .cards .card .inner .content {
        top: 10%; /* Позиционирование текста относительно картинки */
    }
}






/* Медиазапрос для экранов менее 576px */
@media (max-width: 576px) {
   
    .nav {
        display: none;
    }

    .header-logo img {
        display: none;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .header-logo a.kaf {
        top: 1px;
        font-size: 10px;
        border-right: 0.5px solid ;
        border-width: 1.5px;
        border-color: #1E2447;
    }

    .header-logo a.mat{

        font-size: 6px;
        width: 130px;

    }

    header.open .header-logo {
        display: none;
    }

    header.open .nav{
        display: flex;
        gap: 5px;
    }

    header.open .nav a{
        display: flex;
        font-size: 9px;
    }

    header button#menuButton{
        display: flex;
    }
 
    .header-nav {
        padding: 0 5px;
    }

    .students {
        padding: 20px;
    }

    .students .cards {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .students .cards .card {
        width: calc(50% - 10px);
        height: 200px;
    }


    .students .cards .card .inner {
        height: 100%;
    }


    .students .cards .card .inner h4 {
        font-size: 16px;
        padding-top: 10px;
    }


    main .header h2 {
        font-size: 1.8rem;
    }
 
    main .header p {
        font-size: 0.8rem;
    }

    .owl-nav {
        display: none; /* можно скрыть навигацию в карусели на малых экранах */
    }

    .nav-container {
        width: 100%;
        padding: 0 20px; /* Добавляем отступы по бокам */
        box-sizing: border-box; /* Убедимся, что padding не влияет на общую ширину */
    }

/* ЗАДАНИЯ  ГЛАВНАЯ*/

    .predmets-contanier, .predmets {
        display: flex;
        flex-direction: column; /* Список предметов также в столбик */
    
    }


    h3 {
        font-size: 18px; /* Уменьшаем размер заголовков */
        padding: 0 20px;
    }

 
    ul.file-list li {
        margin-bottom: 10px; /* Отступы между элементами списка */
        padding: 0 20px;
    }

    ul.file-list li a {
        font-size: 14px; /* Уменьшаем размер шрифта */
        color: #4a7bf7;
    }

    footer p {
        font-size: 14px; /* Уменьшаем шрифт в футере */
    }

/* ЗАДАНИЯ  СТРАНИЦА*/


    .semester {
        width: 100%;
        margin: 10px 0;
    }

    .predmets-contanier .predmets{
        width: 100%;
        margin: 10px 0;
    }

    .file-list {
        padding-left: 20px;

    }

    .file-list a {
        font-size: 14px;
    }


/* ЛАБ РАБОТЫ */


    .lab {
        width: 100%;
        margin: 10px 0;
        padding-left: 20px;
    }

/* ЛИТЕРАТУРА */

    .literatura{

        width: 100%;
        margin: 10px 0;
        padding-left: 20px;
        
    }


    .site-aligner{
        width: 100%;
        margin: 10px auto;
        padding-left: 20px;
    }

}
